*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #ffe8d6;
}

.container {
  perspective: 1000px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
